/* FORM STYLES */

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 150px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.15em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

    /* SPECIFIC FORM STYLES */

    .input__field--minoru {
      width: 100%;
      background: #fff;
      box-shadow: 0px 0px 0px 2px transparent;
      color: #232e7b;
      -webkit-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s;
      font-family: 'Montserrat', sans-serif;
    }

    .input__label--minoru {
      padding: 0;
      width: 100%;
      text-align: left;
    }

    .input__label-content--minoru{
      font-family: 'Montserrat', sans-serif;
    }

    .input__label--minoru::after {
      content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 4em;
      box-shadow: 0px 0px 0px 0px;
      color: #232e7b;

    }

    .input__field--minoru:focus {
      box-shadow: 0px 0px 0px 2px #232e7b;
    }

    .input__field--minoru:focus + .input__label--minoru {
      pointer-events: none;
    }

    .input__field--minoru:focus + .input__label--minoru::after {
      -webkit-animation: anim-shadow 0.3s forwards;
      animation: anim-shadow 0.3s forwards;
    }

    .input__button--minoru{
      background: #232e7b;
      color: #fff;
      margin-left: 0;
      margin-right: 0;
    }

    .input__button--minoru button{
      background: #232e7b;
      color: #eaeaea;
    }

    .from, .result, .eq{
      font-family: 'Raleway', sans-serif;
    }

    .from, .eq{
      color: #b1b1b1;
    }

    .result{
      color: #232e7b;
    }

    @-webkit-keyframes anim-shadow {
      to {
        box-shadow: 0px 0px 100px 50px;
          opacity: 0;
      }
    }

    @keyframes anim-shadow {
      to {
        box-shadow: 0px 0px 100px 50px;
          opacity: 0;
      }
    }

    .input__label-content--minoru {
      padding: 0.75em 0.15em;
    }

    /* SPECIFIC FORM STYLES */

/* FORM STYLES */
